# Data files
data_1/processed/project_merged.csv filter=lfs diff=lfs merge=lfs -text
data_1/processed/org_unique_detailed.csv filter=lfs diff=lfs merge=lfs -text
data_1/processed/scivoc_summary.csv filter=lfs diff=lfs merge=lfs -text

# Model files
models/theme_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
models/project_embeddings.npy filter=lfs diff=lfs merge=lfs -text
models/project_ids.pkl filter=lfs diff=lfs merge=lfs -text
models/theme_labels.pkl filter=lfs diff=lfs merge=lfs -text
models/all-MiniLM-L6-v2/** filter=lfs diff=lfs merge=lfs -text
